admin/src/main/resources/META-INF/wsdl/product-service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/"
        name="ProductSoapServiceImplService">
    <types>
        <xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
                   targetNamespace="http://services/">

            <xs:element name="computer" type="tns:computer"/>

            <xs:complexType name="computer">
                <xs:sequence>
                    <xs:element name="clockFrequency" type="xs:string" minOccurs="0"/>
                    <xs:element name="cpu" type="xs:string" minOccurs="0"/>
                    <xs:element name="diagonalScreenSize" type="xs:string" minOccurs="0"/>
                    <xs:element name="discSize" type="xs:string" minOccurs="0"/>
                    <xs:element name="discType" type="xs:string" minOccurs="0"/>
                    <xs:element name="gpu" type="xs:string" minOccurs="0"/>
                    <xs:element name="gpuMemory" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerName" type="xs:string" minOccurs="0"/>
                    <xs:element name="numberOfCpuCores" type="xs:string" minOccurs="0"/>
                    <xs:element name="operatingSystem" type="xs:string" minOccurs="0"/>
                    <xs:element name="physicalDriveType" type="xs:string" minOccurs="0"/>
                    <xs:element name="ram" type="xs:string" minOccurs="0"/>
                    <xs:element name="screenResolution" type="xs:string" minOccurs="0"/>
                    <xs:element name="screenSurfaceType" type="xs:string" minOccurs="0"/>
                    <xs:element name="touchscreenFlag" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="computerArray" final="#all">
                <xs:sequence>
                    <xs:element name="item" type="tns:computer" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
                   targetNamespace="http://jaxb.dev.java.net/array">

            <xs:complexType name="stringArray" final="#all">
                <xs:sequence>
                    <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="getComputersByScreenSurfaceType">
        <part name="screenSurfaceType" type="xsd:string"/>
    </message>
    <message name="getComputersByScreenSurfaceTypeResponse">
        <part name="return" type="tns:computerArray"/>
    </message>
    <message name="getManufacturerNames"/>
    <message name="getManufacturerNamesResponse">
        <part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"/>
    </message>
    <message name="getScreenSurfaceTypes"/>
    <message name="getScreenSurfaceTypesResponse">
        <part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"/>
    </message>
    <message name="getNumberOfComputersByManufacturerName">
        <part name="manufacturerName" type="xsd:string"/>
    </message>
    <message name="getNumberOfComputersByManufacturerNameResponse">
        <part name="return" type="xsd:long"/>
    </message>
    <message name="getNumberOfComputersByDisplayAspectRatio">
        <part name="displayAspectRatio" type="xsd:string"/>
    </message>
    <message name="getNumberOfComputersByDisplayAspectRatioResponse">
        <part name="return" type="xsd:long"/>
    </message>
    <portType name="ProductSoapService">
        <operation name="getComputersByScreenSurfaceType">
            <input wsam:Action="http://services/ProductSoapService/getComputersByScreenSurfaceTypeRequest"
                   message="tns:getComputersByScreenSurfaceType"/>
            <output wsam:Action="http://services/ProductSoapService/getComputersByScreenSurfaceTypeResponse"
                    message="tns:getComputersByScreenSurfaceTypeResponse"/>
        </operation>
        <operation name="getManufacturerNames">
            <input wsam:Action="http://services/ProductSoapService/getManufacturerNamesRequest"
                   message="tns:getManufacturerNames"/>
            <output wsam:Action="http://services/ProductSoapService/getManufacturerNamesResponse"
                    message="tns:getManufacturerNamesResponse"/>
        </operation>
        <operation name="getScreenSurfaceTypes">
            <input wsam:Action="http://services/ProductSoapService/getScreenSurfaceTypesRequest"
                   message="tns:getScreenSurfaceTypes"/>
            <output wsam:Action="http://services/ProductSoapService/getScreenSurfaceTypesResponse"
                    message="tns:getScreenSurfaceTypesResponse"/>
        </operation>
        <operation name="getNumberOfComputersByManufacturerName">
            <input wsam:Action="http://services/ProductSoapService/getNumberOfComputersByManufacturerNameRequest"
                   message="tns:getNumberOfComputersByManufacturerName"/>
            <output wsam:Action="http://services/ProductSoapService/getNumberOfComputersByManufacturerNameResponse"
                    message="tns:getNumberOfComputersByManufacturerNameResponse"/>
        </operation>
        <operation name="getNumberOfComputersByDisplayAspectRatio">
            <input wsam:Action="http://services/ProductSoapService/getNumberOfComputersByDisplayAspectRatioRequest"
                   message="tns:getNumberOfComputersByDisplayAspectRatio"/>
            <output wsam:Action="http://services/ProductSoapService/getNumberOfComputersByDisplayAspectRatioResponse"
                    message="tns:getNumberOfComputersByDisplayAspectRatioResponse"/>
        </operation>
    </portType>
    <binding name="ProductSoapServiceImplPortBinding" type="tns:ProductSoapService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="getComputersByScreenSurfaceType">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services/"/>
            </output>
        </operation>
        <operation name="getManufacturerNames">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services/"/>
            </output>
        </operation>
        <operation name="getScreenSurfaceTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services/"/>
            </output>
        </operation>
        <operation name="getNumberOfComputersByManufacturerName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services/"/>
            </output>
        </operation>
        <operation name="getNumberOfComputersByDisplayAspectRatio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://services/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://services/"/>
            </output>
        </operation>
    </binding>
    <service name="ProductSoapServiceImplService">
        <port name="ProductSoapServiceImplPort" binding="tns:ProductSoapServiceImplPortBinding">
            <soap:address location="http://localhost:8080/ws/product-service"/>
        </port>
    </service>
</definitions>